* {
   padding: 0;
   margin: 0;
}
.page {
  height: 100vmin;
  width: 100%;
  background-color: #185789;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}
.container {
  height: 93%;
  width: 76%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  background-image: url('https://plus.unsplash.com/premium_photo-1741161089574-dfbe07c1dc55?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  flex-direction: column;
}

.top {
  height: 18%;
  width: 90%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 2vw;
}
input {
  padding: 20px;
  width: 60%;
  height: 40%;
  outline: none;
  border-radius: 12px;
  font-size: larger;
}
button {
  height: 78%;
  border-radius: 12px;
  border: #185789;
  cursor: pointer;
  width: 20%;
}
button:hover {
  background-color: darkcyan;
  color: aqua;
}

button:active {
  background-color: rgba(0, 139, 139, 0.363);
}
.store {
  height: 82%;
  width: 90%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}
.iner {
  height: 99.5%;
  width: 90%;
  align-items: center;
  text-align: center;
  justify-content: start;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  overflow-y: auto;
  overflow-x:none;
}
.box {
  /* height: 19%;
  width: 90%; */
  border-radius: 12px;
  background-color: rgba(55, 241, 232, 0.329);
  min-height: 15%;
  min-width: 95%;
  padding: 15px;
  align-items: center;
  text-align: center;
  justify-content: start;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}